---
import Layout from '../layouts/Layout.astro';
import { BaseCard, SocialCard, CardVariant, SocialCardVariant } from '@components/Cards';
import { Image } from 'astro:assets';
import JSVE from '@assets/jsve.svg';
import Turpial from '@assets/turpial.svg';
import Envelope from '@assets/envelope.svg';
import DiscordLogo from '@assets/discord.svg';
import InstagramLogo from '@assets/instagram.svg';
import TwitterLogo from '@assets/x.svg';
import TwitchLogo from '@assets/twitch.svg';
import LinkedInLogo from '@assets/linkedin.svg';
---

<Layout title="JavaScript Venezuela">
  <main class="grid grid-cols-2 gap-3 overflow-hidden px-6 py-8">
    <BaseCard class="col-span-2 flex flex-col gap-8">
      <div class="flex items-center justify-between">
        <Image src={JSVE} alt="JSVE Logo" class="h-32 w-auto" />
        <Image src={Turpial} alt="Turpial Logo" class="h-32 w-auto" />
      </div>
      <div class="flex items-center gap-2">
        <Image src={Envelope} alt="Envelope" class="h-5 w-auto self-end" />
        <p class="font-bold">soporte@jsvenezuela.org</p>
      </div>
    </BaseCard>
    <BaseCard variant={CardVariant.secondary} class="col-span-2 text-4xl font-extrabold"
      ><h1>Bienvenidos a la Comunidad JavaScript Venezuela</h1></BaseCard
    >
    <BaseCard variant={CardVariant.secondary} class="col-span-2 text-2xl font-medium"
      ><p>
        Únete para <span class="text-[#F7DF1E]">ampliar tu conocimiento</span>, colaborar en
        proyectos y conectar con una comunidad activa que impulsa el cambio tecnológico desde
        Venezuela al mundo.
      </p></BaseCard
    >
    <SocialCard variant={SocialCardVariant.discord} showTagline class="col-span-2">
      <Image src={DiscordLogo} alt="Discord Logo" slot="icon" />

      <h2 slot="tagline">¡Únete a la comunidad!</h2>
    </SocialCard>
    <SocialCard variant={SocialCardVariant.instagram}>
      <Image src={InstagramLogo} alt="Instagram Logo" slot="icon" />

      <h2 slot="tagline">¡Mira nuestros reels!</h2>
    </SocialCard>
    <SocialCard variant={SocialCardVariant.twitter}>
      <Image src={TwitterLogo} alt="Twitter Logo" slot="icon" />

      <h2 slot="tagline">¡Únete al debate!</h2>
    </SocialCard>
    <SocialCard variant={SocialCardVariant.twitch}>
      <Image src={TwitchLogo} alt="Twitch Logo" slot="icon" />

      <h2 slot="tagline">¡Aprendamos juntos!</h2>
    </SocialCard>
    <SocialCard variant={SocialCardVariant.linkedin}>
      <Image src={LinkedInLogo} alt="LinkedIn Logo" slot="icon" />

      <h2 slot="tagline">¡Conecta con nosotros!</h2>
    </SocialCard>
  </main>
</Layout>
